/*@CHARSET "UTF-8";     */

.root
{
    -fx-background-color: #000;
    /*linear-gradient(from 0.5px 0px to 12px 0px, repeat, darkgrey 5%, transparent 5%),
    linear-gradient(from 0px 0.5px to 0px 12px, repeat, darkgrey 5%, transparent 5%); */
}
.menu-bar
{
    -fx-background-color:#000000;
    -fx-border-style: solid;
    -fx-border-color: darkgrey;
    -fx-border-width: 0 0 3 0;

}
.menu-bar .label
{
    -fx-text-fill:white;
}

.menu-bar .separator{
    -fx-background-color:#000000;
}

.menu-item
{
    -fx-top:0px;
    -fx-background-color: black;
    -fx-text-fill:white;
}

.context-menu{
   -fx-padding:0;
}

.menu-item:hover
{
    -fx-text-fill:green;
    -fx-background-color:#0096C9;
}

.dialog-pane{
    -fx-background-color: black;
    -fx-text-fill: white;
}

.dialog-pane .header-panel {
    -fx-fill: black;
    -fx-background-color: black;
    -fx-text-fill: white;
}
.dialog-pane .content.label {
    -fx-fill: black;
    -fx-background-color: black;
    -fx-text-fill: white;
}

.dialog-pane .button{
    -fx-background-color:black;
    -fx-text-fill:white;
    -fx-wrap-text: true;
    -fx-effect: dropshadow( three-pass-box, #009fe3, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor:hand;
}
.dialog-pane .button:hover{
    -fx-background-color:white;
    -fx-text-fill:#009fe3;
    -fx-font-weight:bold;
}








